
<!--========================================================== -->
                        <!-- ENCABEZADO -->
<!--========================================================== -->

<app-nav-bar></app-nav-bar>


<!--========================================================== -->
                        <!-- SLIDER DE IMAGENES-->
<!--========================================================== -->

<app-slider-imagenes></app-slider-imagenes>


<!--========================================================== -->
                        <!-- INTRODUCCION DE SERVICIOS-->
<!--========================================================== -->

<section class="d-flex flex-column justify-content-center align-items-center pt-5  text-center w-50 m-auto" id="intro">
    <h1 class="p-3 fs-2 border-top border-3">Una agencia única para toda tu necesidad <span class="text-primary">Automotriz</span></h1>
    <p class="p-3  fs-4">
        <span class="text-primary">WikiAuto.</span> es la agencia donde te ayudamos establecer tu preferencia automototriz. en temas como: financiamiento, tecnico, gastos, etc.        
    </p>   
</section>


<!--========================================================== -->
                        <!-- TIPOS DE SERVICIOS-->
<!--========================================================== -->

<section class="w-100">
    <div class="row w-75 mx-auto" id="servicios-fila-1">       
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
            <img src="img/concepto.png" alt="desarrollo"   width="180" height="160">

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1">Asesoria en tu Compra</h3>
                <p class="px-4">Te brindamos la mejor asesoria, para que tomes las más conveniuente decisión a la hora de compra tu auto.</p>
            </div>

        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
            <img src="img/desarrollo.png" alt="concepto" width="180" height="160">

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1 icono-wrap">Diccionario Automotriz</h3>
                <p class="px-4">Acá encontraras todo los terminos asociado a la parte fenanciera, como tecnica de el entorno automotriz.</p>
            </div>
        </div>   
    </div>
    
    <div class="row w-75 mx-auto mb-5" id="servicios-fila-2">       
        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start  my-5 icono-wrap">
            <img src="img/comunicaciones.png" alt="comunicaciones" width="180" height="160">

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1">Ficha conocimiento interes cliente</h3>
                <p class="px-4">En esta sección, te disponibilizamos un formulario para que de tus preferencia, para que el sistema pueda buscar la mejor opción automitriz.</p>
            </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-start my-5 icono-wrap">
            <img src="img/seo.png" alt="seo" width="180" height="160" >

            <div>
                <h3 class="fs-5 mt-4 px-4 pb-1">Comparativo Autos</h3>
                <p class="px-4">Te damos la posibilidad de analizar y comparar tu alterntaiva automotices, para que tomes que mas te convenga.</p>
            </div>
        </div>   
    </div>
</section>


<!--========================================================== -->
                        <!-- SECCION ACERCA DE NOSOTROS-->
<!--========================================================== -->

<section>
    <div class="container w-50 m-auto text-center" id="equipo">
        <h1 class="mb-5 fs-2">Equipo pequeño con <span class="text-primary">resultados Grandes</span>.</h1>
        <p class="fs-4 ">Siempre buscamos la mejor opción automotriz. Si te sientes listo para este reto, te esperamos para que nos contactes.</p>
    </div>

    <div class="mt-5 text-center">
        <img id="img-equipo" src="img/equipo.jpg" alt="equipo">
    </div>

    <div id="local" class="border-top border-2">
        <!--div class="mapa"> </div-->
        <!--div>
            <div class="wrapper-local">
                <h2>Ubicado en Miami, Florida</h2>
                <h2 class="text-primary mb-4" id="typewriter"></h2>
                <p class="fs-5 text-body">Elijimos Miami para nuestra oficina con el objetivo de estar cerca a nuestros clientes. Estamos ubicados en Brickell, el corazon y el centro financiero de Miami, cerca de los mejores restaurantes, tiendas y tan solo 15 minutos de las playas. ¡Visitennos y no se arrepentiran!</p>
                <section class="d-flex justify-content-start" id="numeros-local">
                    <div>
                        <p class="text-primary fs-5">200</p>
                        <p>Dias de Sol</p>
                    </div>
                    <div>
                        <p class="text-primary fs-5">100%</p>
                        <p>Aprobado</p>
                    </div>
                    <div>
                        <p class="text-primary fs-5">24 °C</p>
                        <p>Temperatura</p>
                    </div>
              </section>
            </div>
        </div -->
    </div>

</section>


<!--========================================================== -->
                        <!-- SECCION CONTACTOS-->
<!--========================================================== -->

<section id="seccion-contacto" class="border-bottom border-secondary border-2">
    <div id="bg-contactos">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#1b2a4e" fill-opacity="1" d="M0,32L120,42.7C240,53,480,75,720,74.7C960,75,1200,53,1320,42.7L1440,32L1440,320L1320,320C1200,320,960,320,720,320C480,320,240,320,120,320L0,320Z"></path></svg>
    </div>


<!--========================================================== -->
                        <!-- CONTENEDOR DEL FORMULARIO -->
<!--========================================================== -->

    <div class="container  border-top border-primary " style="max-width: 500px" id="contenedor-formulario">
        <div class="text-center mb-4" id="titulo-formulario">
            <div><img src="./img/support.png" alt="" class="img-fluid ps-5"></div>
            <h2>Contactanos</h2>
            <p class="fs-5">Estamos aqui para hacer realidad de tus proyectos</p>
        </div>

        <form   method="POST" data-netlify="true" action="#">     
            <div class= "mb-3">           
                <input type="email" class="form-control" id="email" name="email" placeholder="nombre@ejemplo.com">
            </div>
            
            <div class="mb-3">            
                <input type="input" class="form-control" id="name" name="name" placeholder="John Doe">
            </div>

            <div class="mb-3">
                <input type="tel" class="form-control" name="phone" id="phone" placeholder="Teléfono">
            </div>

            <div class="mb-3">       
                <textarea class="form-control" name="message" id="message" rows="4"></textarea>
            </div>

            <div class="mb-3">
                <button type="submit" class=" btn btn-primary w-100 fs-5">Enviar Mensaje</button>
            </div>
        </form>
    
    </div>
</section>

<app-footer-bar></app-footer-bar>